@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-image {
  width: 111px;
  height: 74px;
  right: 50px;
  margin-left: -8%;
  margin-top: -5%;
}

body {
  background-color: #fff;
  background-image: url(./images/image1.png);
  background-repeat: no-repeat;
  margin: 0;
  background-size: 155px 90px;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.menu_bar {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #101010;
}

/* <!-- Mobile modal nemu --> */
.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 6% 5% 0 10%;
}

.burger-element {
  background-color: #000; /* This color doesn't mach the template example */
  width: 28px;
  height: 3px;
  margin-bottom: 4px;
}

.burger-container:hover .burger-element {
  background-color: #1a2236;
}

.invisible {
  display: none !important;
}

nav {
  position: relative;
  display: none;
  background-color: #fff;
  box-shadow: 0 0.5px 0 #dddfe6;
}

.js-nav {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  margin-top: -6%;
  z-index: 1;
  background-image: url(./images/image_geometry_menu_1.png);
  background-repeat: no-repeat;
  background-size: 300px 120px;
}

.cross {
  position: absolute;
  top: 20px;
  right: 5%;
  font-size: 20px;
  color: #000;
  transition: 0.3s;
}

.cross:hover {
  color: #1a2236;
}

ul {
  margin-top: 7.3%;
  margin-left: 3.47%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 58.35vh;
  padding-top: 56%;
  padding-left: 0;
  margin: 0;
  color: #000;
}

.mos-0 {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-top: 16vh;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar Desktop version */

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-image {
    display: none;
  }

  body {
    background-image: none;
  }

  .navbar {
    justify-content: center;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  .menu_bar {
    display: flex;
  }

  nav ul {
    flex-direction: row;
    height: 100px;
    margin: 0 37.22%;
    padding: 0;
  }

  .menu_bar ul {
    display: inline-block;
  }

  .menu_bar li {
    float: left;
    align-items: center;
    list-style: none;
    margin: 13px 20px;
  }

  .menu_bar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: black;
  }

  nav {
    display: block;
    grid-area: nav;
  }

  .js-nav {
    background-image: none;
  }

  .burger {
    display: none;
  }

  .cross {
    display: none !important;
  }

  .mos-0 {
    display: none;
  }

  #hello-wrapper {
    display: grid;
    grid-template-columns: 1fr 48.75%;
    grid-template-areas:
      "nav nav"
      "hello mosaic";
  }
}

h1 {
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding-top: 20%;
}

h2 {
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding-top: 20%;
}

p {
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

#title_image {
  display: none;
}

.fa-times {
  font-size: 28px;
  width: 1em;
}

/* Animation on desktop version of header title and description */
@media screen and (min-width: 768px) {
  #title_image {
    display: flex;
    width: 100%;
    height: 100%;
  }

  #header-title {
    animation-name: leftToOnThePlace;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @keyframes leftToOnThePlace {
    0% {
      transform: translateX(-2000px);
    }

    100% {
      transform: translateX(0);
    }
  }

  #header-description {
    animation-name: rightToOnthePlace;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @keyframes rightToOnthePlace {
    0% {
      transform: translateX(2000px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.button {
  box-sizing: border-box;
  width: 90%;
  left: 16px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 15px 32px;
  margin: 4px 2px;
}

.section-image {
  background-image: url("images/image_2.png");
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}

.section {
  display: flex;
  position: relative;
  padding: 20px;
  padding-bottom: 16.8%;
}

@media screen and (min-width: 768px) {
  .section {
    width: 100%;
    height: calc(80vh - 76px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .section-image {
    display: none;
  }

  #title_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titl-info-wrapper {
    max-width: 484px;
    padding: 20px;
  }

  .section h1 {
    font-size: 110px;
  }

  .section .button {
    width: 18%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.works {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 5%;
}

.works #web_img {
  display: none;
}

.works h2 {
  padding: 20px;
}

.card_content-web {
  display: none;
}

#mobile-title {
  display: flex;
}

/* Work section desktop */
@media screen and (min-width: 768px) {
  .works {
    display: flex;
    position: relative;
    padding-top: 22%;
  }

  .works #web_img {
    width: 160px;
    visibility: visible;
  }

  .works .grid-container {
    display: none;
  }

  .card_content-web {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  #mobile-title {
    display: none;
  }

  .item1 {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
  }

  .item1-rightpanel {
    position: relative;
  }

  #dot-img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .card-info-web .card_title {
    font-weight: 700;
    font-size: 30px;
  }

  .card_content-web .card_btn {
    color: black;
    background: white;
  }

  #card-title-web {
    position: absolute;
    top: 25%;
    left: -10%;
    transform: rotate(-90deg);
    font-size: 90px;
    padding: 0;
  }

  .item1-leftpanel {
    position: relative;
  }

  .card_image-web {
    width: 100%;
    height: 100%;
  }

  .card-info-web {
    width: 100%;
    height: 66.333%;
    position: absolute;
    top: 33.333%;
    left: 0;
    background-color: #1a2236;
    padding: 5%;
  }

  .item2-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item2-right {
    position: relative;
    margin-top: 5%;
  }

  .item2-right-content {
    width: 100%;
    height: 50%;
    background-color: #1a2236;
    padding: 5%;
  }

  .item2-right-content h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  #item2_img {
    width: 100%;
    height: 241px;
    margin-top: 15%;
  }

  #item3_img {
    width: 100%;
    height: 312px;
  }

  .item2-right-content .span_button {
    line-height: 5.5;
  }

  .item3 {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    margin-top: -0.4%;
  }

  .item4 {
    display: grid;
    grid-template-columns: 1.26fr 1fr;
  }

  .item4 #img1 {
    width: 100%;
    height: 440px;
    margin-top: -195px;
  }

  .item4 #img2 {
    height: 253px;
    width: 100%;
    margin-top: -1%;
  }

  .btn.card_btn4,
  .btn.card_btn5,
  .btn.card_btn6 {
    padding: 0.5rem;
    font-size: 12px;
  }
}

.about {
  position: relative;
  padding: 20px;
}

.grid-container {
  display: grid;
}

.btn {
  color: #1a2236;
  padding: 0.8rem;
  font-size: 14px;
  font-weight: 400;
  display: inline;
  width: 139px;
  cursor: pointer;
  background: #98dede;
  margin-right: 10px;
}

.card_btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 178px;
  height: 44px;
  cursor: pointer;
  border: 1px solid #fff;
  background: transparent;
}

.card_btn img {
  vertical-align: -15%;
  padding-left: 0.5em;
}

.button img {
  padding-left: 1em;
  vertical-align: -15%;
}

.span_button {
  line-height: 6.5;
  list-style: none;
  margin-left: 0%;
}

.span_button li {
  float: left;
}

.card_title {
  color: #fff;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.card_content {
  padding: 1rem;
  background: #1a2236;
  height: 200px;
  display: grid;
  grid-auto-flow: 1fr;
}

.card_image {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.skills_section {
  display: grid;
  grid-gap: 16px;
  padding: 1rem;
  padding-top: 5%;
  padding-bottom: 20%;
}

.skills_section ul {
  list-style-type: disc;
}

.skills_section li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.skills_section h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
}

.skills_web {
  display: grid;
  gap: 18px;
}

.language {
  color: #fff;
  width: 100%;
  height: 289px;
  background: #1c528a;
  background-image: url("images/tag.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  justify-content: center;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.frameworks {
  color: #fff;
  width: 100%;
  height: 289px;
  background: #e2505c;
  background-image: url("images/ic_framework.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  justify-content: center;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.skills {
  color: #fff;
  width: 100%;
  height: 289px;
  background: #febf52;
  background-image: url("images/ic_skills.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  justify-content: center;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

#skills_img {
  display: none;
}

@media screen and (min-width: 1190px) {
  .skills_section {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    padding: 100px;
  }

  .about h2 {
    font-size: 110px;
  }

  .skills_section .about {
    padding-top: 150px;
  }

  .skills_web {
    grid-template-columns: 350px 350px;
    padding-top: none;
    display: grid;
  }

  #skills_img {
    display: flex;
    justify-content: end;
    padding: 64px;
    padding-left: 126px;
  }
}

.contact-page {
  position: relative;
  flex-direction: column;
  width: 100%;
}

.contact-page h2 {
  padding-top: 30%;
  white-space: nowrap;
}

.contact_section {
  background: #f9f9fa url(./images/image1.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 0;
  background-position-y: 0;
  display: flex;
  position: relative;
  padding: 60px 24px;
}

input[type=text],
[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dfdfe0;
  background: #fff;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  resize: none;
  margin: 8px 0;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #1a2236;
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 99%;
  height: 55px;
}

input[type=submit]:hover {
  background-color: black;
}

.error {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(216, 0, 12, 1);
  background-color: rgb(210, 148, 148);
  text-align: center;
  padding: 4px 12px;
  margin-bottom: 12px;
  border-radius: 4px;
  display: none;
}

.form_section {
  display: flex;
  position: relative;
  padding: 30px 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  input[type=submit] {
    width: 50%;
    margin-left: 30%;
  }

  .contact_section {
    background-image: url(/images/image-geometry_6.png), url(/images/image-geometry_7.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 20% 30%;
  }

  .contact-page {
    width: 100%;
    padding-left: 7%;
  }

  .text_area {
    padding: 15%;
    padding-bottom: 0%;
    margin-top: -201px;
  }

  .text_area p {
    padding-top: 4%;
    width: 80%;
  }

  .form_section {
    display: flex;
    width: 75%;
    padding-left: 105px;
  }

  .contact_section h2 {
    font-size: 84px;
    padding-top: 29%;
  }
}

/* Footer */
footer {
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: #1a2236;
  padding-top: 40px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content img {
  vertical-align: -15%;
}

.footer-content a {
  text-decoration: none;
}

.footer-content span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  padding: 20px;
}

.socials {
  margin: 2rem 0 0 0;
}

.socials img {
  padding-left: 1em;
  padding-right: 1em;
}

.socials li {
  display: flex;
  justify-content: space-between;
  float: left;
}

/* ----------------  Cards  ------------------ */
.card-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 98;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  height: 100vh;
  z-index: 99;
  overflow: scroll;
}

.card h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 80%;
  color: #1a2236;
  margin-left: 6.25%;
}

.card img {
  max-width: 700px;
  width: 87.5%;
  margin: 6.25%;
}

.card-cross {
  align-self: flex-end;
  font-size: 20px;
  color: #c4c4c4;
  width: 25px;
  padding-top: 15px;
  transition: 0.3s;
  margin-right: 6%;
  margin-top: 0%;
}

.card-cross:hover {
  color: #1a2236;
}

.card-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  max-width: 350px;
  padding: 0;
  padding-top: 8%;
  margin: 0 15.25% 0 6.25%;
}

.card-list li {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  font-size: 10.33px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 80%;
  text-align: center;
  padding: 4px 12px;
  margin-right: 15px;
}

#card-description {
  max-width: 700px;
  margin: 0 6.25%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1a2236;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 25px 11.5%;
}

.card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 2px solid #1a2236;
  width: 100%;
  height: 51px;
  margin-bottom: 30px;
  transition: 0.3s;
  padding: 3%;
}

.card-button:hover {
  background-color: #1a2236;
  color: #fff;
}

@media screen and (min-width: 768px) {
  footer {
    position: none;
    height: 123px;
    padding-top: 50px;
  }

  .footer-content {
    display: none;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .socials {
    margin: 0 0 0 0;
  }

  .card-container {
    background-color: #1a2236f5;
    height: 100vh;
  }

  .card {
    position: relative;
    top: 5vh;
    left: 1%;
    background-color: #fff;
    max-width: none;
    width: 90%;
    height: 90vh;
    overflow: scroll;
  }

  .card-cross {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
  }

  .card h3 {
    font-size: 48px;
    margin-bottom: -5%;
    margin-left: 6.17%;
    padding-top: 4%;
  }

  .card-list {
    font-size: 16px;
    max-width: none;
    width: 33.7%;
    margin-left: 6.17%;
  }

  .card img {
    max-width: none;
  }

  #card-description {
    align-self: center;
    margin-top: -10%;
  }

  .button-container {
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .card-button {
    width: 47.5%;
  }
}
